In [1]:
import pandas as pd
import numpy as np

data2017 = pd.read_csv("SA Feedback Surveys_FINAL/2017/Student Feedback Surveys-Superview.csv")

In [2]:
data2017

,ID,Location,Track,Week,Rating (Num),Schedule Pacing
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right
1,36,Los Angeles,Apps,Week 1,4,A little too fast
2,117,San Francisco,Games,Week 1,4,Way too slow
3,253,NaN,NaN,Week 2,4,A little too fast
4,350,New York City,"Apps, Explorer",Week 1,4,Just right
...,...,...,...,...,...,...
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right
1450,1497,New York City,Apps,Week 7,10,Just right
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow
1452,1499,New York City,Apps,Week 5,8,Just right

In [3]:
data2017["Rating (Num)"].value_counts()

8          392
9          384
10         376
7          177
6           59
5           35
4           13
3            8
#ERROR!      3
1            2
0            2
2            2
Name: Rating (Num), dtype: int64

In [4]:
promoters2017 = data2017[(data2017["Rating (Num)"] == 9) | (data2017["Rating (Num)"] == 10)]

In [5]:
passives2017 = data2017[(data2017["Rating (Num)"] == 7) | (data2017["Rating (Num)"] == 8)]

In [6]:
detractors2017 = (data2017["Rating (Num)"] == 6) | (data2017["Rating (Num)"] == 5) | (data2017["Rating (Num)"] == 4) | (data2017["Rating (Num)"] == 3) | (data2017["Rating (Num)"] == 2) | (data2017["Rating (Num)"] == 1)

In [7]:
haters2017 = data2017[data2017["Rating (Num)"] == 0]

In [8]:
def determineSentiment(rating):
    if (rating == "9") | (rating == "10"):
        return "Promoter"
    elif (rating == "7") | (rating == "8"):
        return "Passive"
    elif (rating == "1") | (rating == "2") | (rating == "3") | (rating == "4") | (rating == "5") | (rating == "6"):
        return "Detractor"
    elif (rating == "0"):
        return "Hater"
    else:
        return "Unknown"

In [9]:
data2017["Sentiment"] = data2017.apply(lambda row: determineSentiment(row["Rating (Num)"]), axis=1)

In [10]:
data2017

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Sentiment
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,Detractor
1,36,Los Angeles,Apps,Week 1,4,A little too fast,Detractor
2,117,San Francisco,Games,Week 1,4,Way too slow,Detractor
3,253,NaN,NaN,Week 2,4,A little too fast,Detractor
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,Detractor
...,...,...,...,...,...,...,...
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,Promoter
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,Passive
1450,1497,New York City,Apps,Week 7,10,Just right,Promoter
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,Detractor
1452,1499,New York City,Apps,Week 5,8,Just right,Passive

In [11]:
data2017["Sentiment"].value_counts()

Promoter     760
Passive      569
Detractor    119
Unknown        3
Hater          2
Name: Sentiment, dtype: int64

In [12]:
NPS = (760-119-2)/(760+569+119+2)
NPS

0.4406896551724138

In [13]:
data2017["Track"].value_counts()

Apps               871
Apps, Explorer     224
Games              208
VR                  60
Games, Explorer     43
Name: Track, dtype: int64

In [14]:
import seaborn as sns
sns.countplot(x="Track", hue="Sentiment", data=data2017)